/* ==========================================
                MERCH
========================================== */

.merch{

    background:#FAFAFA;

}

.merch-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

    margin-top:50px;

}

.merch-card{

    background:white;

    border-radius:18px;

    box-shadow:var(--shadow);

    overflow:hidden;

    transition:.3s;

    text-align:center;

}

.merch-card:hover{

    transform:translateY(-8px);

}

.merch-card img{

    width:100%;

    height:260px;

    object-fit:cover;

}

.merch-card h3{

    margin-top:20px;

    font-size:22px;

}

.merch-card p{

    color:var(--primary);

    font-weight:600;

    margin:15px 0;

}

.merch-card .btn{

    margin-bottom:25px;

}