/* ==========================================
                NAVBAR
========================================== */

.header{

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;

    background: var(--primary);

    box-shadow: var(--shadow);

    z-index: 999;

    transition: .3s;

}


/* ==========================================
            CONTAINER
========================================== */

.header .container{

    display: flex;

    justify-content: space-between;

    align-items: center;

    height: 85px;

}


/* ==========================================
                LOGO
========================================== */

.logo{

    display: flex;

    align-items: center;

    gap: 12px;

}

.logo img{

    height: 52px;

}

.logo img:last-child{

    height: 48px;

}


/* ==========================================
                NAVIGATION
========================================== */

.navbar ul{

    display: flex;

    align-items: center;

    gap: 30px;

}

.navbar ul li{

    list-style: none;

}

.navbar ul li a{

    position: relative;

    color: var(--secondary);

    font-weight: 600;

    font-size: 15px;

    transition: var(--transition);

}


/* ==========================================
            HOVER MENU
========================================== */

.navbar ul li a:hover{

    color: white;

}


/* Garis bawah */

.navbar ul li a::after{

    content: "";

    position: absolute;

    left: 0;

    bottom: -6px;

    width: 0;

    height: 2px;

    background: white;

    transition: .3s;

}

.navbar ul li a:hover::after{

    width: 100%;

}


/* ==========================================
            ACTIVE MENU
========================================== */

.navbar ul li a.active{

    color: white;

}

.navbar ul li a.active::after{

    width: 100%;
    background: white;

}


/* ==========================================
            HAMBURGER
========================================== */

.hamburger{

    display: none;

    font-size: 28px;

    cursor: pointer;

}


/* ==========================================
   MOBILE MENU
========================================== */

@media (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .navbar {
        position: fixed;

        top: 85px;
        right: -100%;

        width: 270px;
        height: calc(100vh - 85px);

        background: white;

        box-shadow: -5px 0 20px rgba(0,0,0,.1);

        transition: .4s;
    }

    .navbar.active {
        right: 0;
    }

    .navbar ul {
        flex-direction: column;

        align-items: flex-start;

        padding: 40px 30px;

        gap: 28px;
    }


    /* ======================================
       ACTIVE MENU - MOBILE
    ====================================== */

    .navbar ul li a{
        color: var(--secondary);
    }

    .navbar ul li a.active {
        color: var(--primary);
    }

    .navbar ul li a.active::after {
        width: 100%;
        background: var(--primary);
    }

    .navbar ul li a:hover{

    color: var(--primary);

    }


/* Garis bawah */

    .navbar ul li a::after{

    content: "";

    position: absolute;

    left: 0;

    bottom: -6px;

    width: 0;

    height: 2px;

    background: var(--primary);

    transition: .3s;

    }

    .navbar ul li a:hover::after{

    width: 100%;

    }

}



    /* Active menu mobile */

    /* .navbar ul li a.active{

        color: white;

    }

    .navbar ul li a.active::after{

        background: white;

    } */

/* .navbar a{
    position: relative;
    color: #222;
    text-decoration: none;
    padding: 8px 0;
    transition: .3s;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: white;
    transition: .3s;
}

.navbar a:hover::after,
.navbar a.active::after{
    width: 100%;
}
.navbar a.active{
    color: white;
} */